@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Controlador de Banco de Dados</h1>
    <p>Clicando acima você conseguirá gerenciar as tabelas de usuários e livros da plataforma</p>
</div>
